li::marker {
  color: var(--medium);
}

p {
  word-wrap: break-word;
}

a {
  color: white;
  text-decoration: none;

  background-color: transparent;
  border-bottom: 2px solid var(--medium);
  transition: border-color var(--transition-time);
}

a:hover {
  border-color: var(--burning);
}

code {
  word-wrap: break-word;
  display: inline-block;
  max-width: 100%;
  white-space: pre-wrap;

  font-family: 'Roboto Mono', monospace;
  font-size: 85%;

  background-color: var(--code);
  border: 1px solid var(--code);
  border-radius: 2px;
  color: inherit;
  font-weight: 300;

  padding: 0 5px;
}

pre>code {
  padding: 8px 12px;
  width: calc(100% - 16px);
}

hr {
  border: 2px solid var(--medium);
  border-left: none;
  border-right: none;
}

table {
  max-width: 100%;
  margin: 0 auto;

  font-size: 100%;
  color: white;
  border-collapse: collapse;
  border-style: hidden;
}

table thead {
  font-size: 125%;
}

table td {
  padding: 10px;
}

table th {
  padding: 10px;
  border: 2px solid var(--medium);
  border-left: none;
  border-right: none;
}

table tr:nth-child(odd) td{
  background-color: transparent
}
table tr:nth-child(even) td{
  background-color: var(--code);
}

blockquote {
  border-left: 4px solid var(--medium);
  padding-left: 20px;
  font-style: italic;
  margin: 30px 0;
}

img {
  margin: 15px auto;
  display: block;

  max-width: 100%;
}

img + em {
  display: block;

  text-align: center;
}

.square-wrapper {
  display: inline-block;
  position: relative;
}

.square-wrapper:after {
  padding-top: 100%;

  display: block;

  content: '';
}

.square-pic {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  /*stretches image into the parent div which it should fit*/
  width: 100%;
}