/*Everything related to the icon and planet content, which is not markdown.*/

.planet>.inner>.label {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;

  display: flex;
  color: white;
  font-size: 200%;
}

.planet>.inner>.label>span {
  margin: auto;
}

.planet>.inner>.label>img {
  margin: auto;
}

/*Planet content*/

.planet-content {
  margin: 4vmin 0;
  
  font-size: 100%;
  line-height: 1.75;
}

.planet-content.small-images img {
  width: 100%;
  max-width: 500px;
}

.planet-content .center {
  text-align: center;
}

.planet-content .large {
  font-size: 125%;
}

.planet-content .larger {
  font-size: 150%;
}

.planet-content h1 {
  text-align: center;
}

.planet-content input {
  padding: 5px;

  font-family: inherit;
  font-size: inherit;
  background-color: inherit;
  color: white;
  border: none;
  border-bottom: 2px solid var(--medium);
  border-radius: 0;
}

.planet-content button {
  padding: 10px 15px;

  font-family: inherit;
  font-size: inherit;
  color: white;
  background-color: transparent;
  border: 2px solid var(--medium);
  border-left: none;
  border-right: none;

  cursor: pointer;
  transition: border-color var(--transition-time);
}

.planet-content button:hover {
  border-color: var(--burning);
}